#### Assignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a='Karan'

In [2]:
type(a)

str

In [3]:
b=[1, 4, 67, 56+2j, 'Karan', 89.23]

In [4]:
type(b)

list

In [5]:
c= 23.67

In [6]:
type(c)

float

In [7]:
b

[1, 4, 67, (56+2j), 'Karan', 89.23]

In [30]:
b[4]

'Karan'

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [18]:
var1 = ''

In [19]:
var1

''

In [20]:
type(var1)

str

In [21]:
var2 = '[ DS , ML , Python]'

In [22]:
var2

'[ DS , ML , Python]'

In [23]:
type(var2)

str

In [24]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [25]:
var3

['DS', 'ML', 'Python']

In [26]:
type(var3)

list

In [27]:
var4 = 1

In [28]:
var4

1

In [29]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [1]:
10/2 #simple division

5.0

In [2]:
10%3 #remainder left in the division

1

In [3]:
10//7.8 #the answer will be 1.28 but using floor division it produces the value of the nearest whole number.

1.0

In [7]:
9**2 #expoenential operator

81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [17]:
l=[1,2,3,4.5,5+2j,'karan','pwskills',23,3+5j,10]

In [18]:
l

[1, 2, 3, 4.5, (5+2j), 'karan', 'pwskills', 23, (3+5j), 10]

In [25]:
for i in l :
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'float'>
4.5
<class 'complex'>
(5+2j)
<class 'str'>
karan
<class 'str'>
pwskills
<class 'int'>
23
<class 'complex'>
(3+5j)
<class 'int'>
10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [60]:
A = 20 
B = 9 
n = 0 

while A % B == 0: 
  n +=1
  A = A // B 

if count > 0:
  print("The number A is purely divisible by B [n] times.")
else: 
  print("The number A is not purely divisible by B.")

The number A is purely divisible by B [n] times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [46]:
l=[15,3,25,67]

In [47]:
l

[15, 3, 25, 67]

In [48]:
for i in l : 
    if i % 3 == 0 :
        print('i is divisible by 3')
    else:
        print('i is not divisible by 3')

i is divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [49]:
# Mutable data types are those data types which allow modification/change
#in their internal elements for example: lists
l=[1,2,67,5-6j,'Karan',3.5]

In [50]:
l

[1, 2, 67, (5-6j), 'Karan', 3.5]

In [51]:
l.append(4)

In [52]:
l

[1, 2, 67, (5-6j), 'Karan', 3.5, 4]

In [55]:
l.pop(4)

3.5

In [56]:
l

[1, 2, 67, (5-6j), 4]

In [57]:
# immutable data types are those data types which does not allow 
#modification/change in their internal elements for example: str
i="Karan"

In [58]:
i

'Karan'

In [59]:
i(0)=i

SyntaxError: can't assign to function call (<ipython-input-59-a67acda7bf63>, line 1)