<a href="https://colab.research.google.com/github/iamkarandeepsingh/PhysicsWallah/blob/main/MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans1. MongoDB is a NDBMS means Non-relational database means that it can handle both relational databases and non relational databases.

Non relational databases are those databases that are not in the form of tables and do not comprise data in the form of rows and columns.

MongoDB is preferred over SQL in those scenarios in which we do not have a structured data i.e. data is not i the form of rows and columns rather it may contain data with images,text etc.

Q2. State and Explain the features of MongoDB.

Ans2. MongoDB is a scalable, flexible NoSQL document database platform designed to overcome the limitations of relational databases and other NoSQL solutions. It is well known for its horizontal scaling and load balancing capabilities, which provide application developers with an unprecedented level of flexibility and scalability.

Some of the key features of MongoDB include:

Document Model: MongoDB is a document-oriented database, which means that data is stored as documents, and documents are grouped in collections.

Sharding: Sharding is the process of splitting larger datasets across multiple distributed instances, or “shards.”

Support for ad hoc queries: In MongoDB, you can search by field, range query and it also supports regular expression searches

Indexing: You can index any field in a document

Replication: MongoDB supports Master Slave replication. A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 10.1 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 30.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

In [4]:
import pymongo
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://pwskills:pwskills@cluster0.tfjmcru.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
db = client['pwskills']

In [6]:
data = {"name" : "Aman Gupta" ,
        "class" :"Web Dev " ,
        "time" : "Felxi"}

In [7]:
coll_pwskills = db["my_record"]

In [8]:
coll_pwskills.insert_one(data)

In [9]:
coll_pwskills.find_one(data)

{'_id': ObjectId('64a97cefb825bc0362b05fff'),
 'name': 'Aman Gupta',
 'class': 'Web Dev ',
 'time': 'Felxi'}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [12]:
 data2 = { "name": "Amy",
          "address": "Apple st 652" }

In [13]:
coll_pwskills.insert_one(data2)

In [14]:
coll_pwskills.find_one(data2)

{'_id': ObjectId('64a97d2bb825bc0362b06000'),
 'name': 'Amy',
 'address': 'Apple st 652'}

In [15]:
data3 = [
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [16]:
coll_pwskills.insert_many(data3)

In [19]:
for i in coll_pwskills.find({"name":"Chuck"}):
  print (i)

{'_id': ObjectId('64a57e6c6f5ee42629d06d6d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a97d84b825bc0362b0600a'), 'name': 'Chuck', 'address': 'Main Road 989'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Ans5. We use find method to sort or find a json file from the collection. We generally put find() query in a for loop to print the outcome in i variable.

# for i in coll_pwskills.find({"name": "Ben"}):
#   print (i)

In this statement we need to find out the json files which have name = Ben associated in them and the outcome will be printed in i.

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans6. The sort() method is used in MongoDB to sort the documents in a collection based on specified sorting criteria. It allows you to order the results in ascending or descending order based on one or more fields.

In [25]:
#db.collection.find().sort({"name": "Hannah", "address": "Mountain 21"});

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans7. In MongoDB, the delete_one(), delete_many(), and drop() methods are used to delete documents or collections from a MongoDB database. Let's understand the use cases of each method

delete_one():
The delete_one() method is used to delete a single document that matches a specified filter. It deletes the first document that matches the filter criteria and stops further deletion. If multiple documents match the filter, only the first document encountered is deleted. The method returns a DeleteResult object that contains information about the deletion operation.

delete_many():
The delete_many() method is used to delete multiple documents that match a specified filter. It deletes all the documents that satisfy the filter criteria. The method returns a DeleteResult object that contains information about the deletion operation.

drop():
The drop() method is used to delete an entire collection from the database. It removes the collection and all the associated documents permanently. After dropping the collection, it can be re-created with the same name if needed. The method does not return any result.