Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [13]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [20]:
sort=(lambda x: x[1])

In [21]:
players

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]

In [2]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(map(lambda l: l**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]

In [5]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
tuple(map(lambda l: str(l),l))

('1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [24]:
from functools import reduce

In [25]:
l=list(range(1,26))

In [26]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [27]:
reduce(lambda x,y: x*y,l)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [28]:
l=[2,3,6,9,27,60,90,120,55,46]

In [29]:
l

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [31]:
list(filter(lambda x: x%2==0 and x%3==0, l))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [32]:
l=['python', 'php', 'aba', 'radar', 'level']

In [33]:
l

['python', 'php', 'aba', 'radar', 'level']

In [35]:
list(filter(lambda s: s==s[::-1],l))

['php', 'aba', 'radar', 'level']